# Rename to `.env` for use

# Switch for certain production/dev-specific functionality
PRODUCTION=True

# This field must be prefixed with `GATSBY_` to get injected into the
#   client-side environment. It is, however, a pointer to the endpoint
#   of our Strapi CMS.
GATSBY_CMS_HOST=http://cms:1337

# # # # # # # # # # # # #
# Strapi CMS variables  #
# # # # # # # # # # # # #

DATABASE_CLIENT=mongo
DATABASE_NAME=strapi
DATABASE_HOST=db
DATABASE_PORT=27017
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
NODE_ENV=production
SENDGRID_API_KEY=SG.ABC123

# # # # # # # # # # # # #
# MongoDB Variables     #
# # # # # # # # # # # # #

# Credentials for initialising the database
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
