*, *:before, *:after {
    box-sizing: border-box; 
}

:root {
    --sidebar-width: 250px;
}

body {
    margin: 0;
    height: 100%; /* Bring up to height of HTML */
    background-color: #003;
}


/*
Navigation sidebar
*/
.side-nav {
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;
    top: 0;

    padding-left: 1em;
    padding-top: 2em;
    padding-right: 1em;

    background: #042331;
}

/*
Page content wrapping children
*/
main {
    /* Set margin-left to make way for sidebar */
    margin-left: calc(var(--sidebar-width) + 30px);
}

a {
    color: rgb(8, 209, 245);
    text-decoration: none;
}
