*, *::before, *::after {
    box-sizing: border-box;
}

header {
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
}

#header-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 2em 2em 2em;

    display: flex; /* Below properties are flex properties */
    justify-content: space-between; /* Brand to the left, nav on the right */
    align-items: center; /* Vertical centering */
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    padding: 1em 2em 3em 2em;
}

.nav-items {
    list-style: none;
    margin-bottom: 0;
}

.nav-item {
    display: inline;
}

.ant-spin {
    width: 100%;
    margin: 0 auto;
    padding-top: 25vh !important;
}

.page-spinner {
    font-size: 50px !important;
}
