*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Master container */

#layout-master {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Inside 'Layout Master' */

header {
    background-color: lightgrey;
    display: flex;
}

#header-container {
    max-width: 300em;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 250em;
    margin-left: auto;
    margin-right: auto;

    padding: 5em 10em 25em 5em;
    background-color: aqua;
}
