*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}

/* Master container */

#layout-master {
    display: flex;
    flex-direction: column;
}

/* Inside 'Layout Master' */

header {
    background-color: lightgrey;
    display: flex;
}

#header-container {
    max-width: 300em;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    padding: 5em 10em 25em 5em;
    background-color: aqua;
}

.width-800px {
    width: 800px;
    height: 2px;
}

/* the resizer is a fixed width until the viewport is only as wide as the resizer,
   at which point the content becomes 100vw
*/
