*, *::before, *::after {
    box-sizing: border-box;
}

header {
    background-color: #FAFAFA;
}

#header-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 2em 2em 2em;

    display: flex; /* Below properties are flex properties */
    justify-content: space-between; /* Brand to the left, nav on the right */
    align-items: center; /* Vertical centering */
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    padding: 1em 2em 3em 2em;
}

.nav-items {
    list-style: none;
    margin-bottom: 0;
}

.nav-item {
    display: inline;
}
