// Prompt font
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
// Raleway font
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap');

*, *:before, *:after {
    box-sizing: border-box; 
}

:root {
    --width: 100vw;
    --full-width: 100vw;

    @media (min-width: 42em) {
        --width: 42rem;
    }

    --angle: -11deg;
    /*-----------------
    Magic Number:

    the 0.09719 is calculated by this formula:
    tan(11°) / 2
    11° is the current skewY value.

    The magic number is used in generating the
    padding for section content.
    ------------------*/
    --magic-number: 0.11;
    --skew-padding: calc(var(--width) * var(--magic-number));
}

html {
    font-size: 100%;
    transition: font-size 0.2s linear;

    @media (min-width: 70em) {
        font-size: 125%;
    }
}

body {
    background-image: linear-gradient(-135deg, #003, #006);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: white;
    font-size: 3em;
    font-weight: 900;
    margin: 0 0 0.5em;
}

h3 {
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    margin: 0.7em 0 0.7em 0;
}

p {
    font-size: 1.7em;
    margin: 0;
    line-height: 1.5;
    
    a {
      color: inherit;
      text-decoration: none;
      background-image: linear-gradient(transparent 90%, 0, #fffa 100%);
      padding: 0.125em 0;
      transition: opacity 0.3s ease-out;
      
      &:hover {
        text-decoration: none;
        color: inherit;
        opacity: 0.8;
      }
    }
  }

/* ----------------------
    Handling diagonal content and keeping content properly
    padded and aligned.
---------------------- */
.section {
    position: relative;
    padding: var(--skew-padding) 0;
    margin-top: -1px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: skewy(var(--angle));
        transform-origin: 50% 0;
        outline: 1px solid transparent;
        backface-visibility: hidden;
    }
}

.section-content {
    max-width: var(--width);
    margin: 0 auto;
    padding: 1.5em;
    position: relative;
    
    /* ----------------------
    Enable to see content border
    ----------------------- */
    //border: 2px dashed #fff8;
}

.bg-top {
    height: 520px;
    padding-top: 290px;
    margin-top: 120px;
}

.bg-one:before {
    background-image: linear-gradient(45deg, #654ea3, #eaafc8);
}
  
.bg-two:before {
    background-image: linear-gradient(-135deg, #ff0084, #33001b);
}

.bg-three:before {
    background-image: linear-gradient(-135deg, #007, #003);
}

.hero {
    position: absolute;
    width: 100vw;
    height: 200px;
    margin: 0;
    top: 130px;

    font-size: 1.25em;
    transform: skewY(var(--angle));
    text-align: center;
    background: #FFEA2C;
    color: #003;
    font-weight: 900;
    padding: 0.5em;
    text-transform: uppercase;
}

.hero-text {
    color: #0F1B33;
    
    font-family: Prompt;
    font-style: normal;
    font-weight: 900;
    font-size: 140px;

    margin:0 auto 1em;
    padding: 0 1em;
    max-width: 42rem;
    line-height: 1.2;
}

.intro {
    font-size: 1.25em;
    transform: skewY(var(--angle));
    margin: 0em auto 0em;
    text-align: center;
    background: #fff;
    color: #003;
    padding: 0.5em;
}

/* ----------------------
    Navigation buttons in first section
---------------------- */
.navbar {
    position: fixed;
    height: 120px;
    width: 100vw;
    top: 0;
    left: 0;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.651);
    background-color: #003;
    z-index: 999;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 650px; /* Bring closer to middle */
    margin: 2em auto; /* Center horizontally */
}