*, *:before, *:after {
    box-sizing: border-box; 
}

@font-face {
    font-family: "Basier Circle Regular";
    src: url("./fonts/BasierCircle-Regular.otf") format("opentype");

    font-family: "Basier Circle Medium";
    src: url("./fonts/BasierCircle-Medium.ttf") format("truetype");

    font-family: "Basier Circle Bold";
    src: url("./fonts/BasierCircle-Bold.ttf") format("truetype");

    font-family: "Basier Circle SemiBold";
    src: url("./fonts/BasierCircle-SemiBold.ttf") format("truetype");

    font-family: "Basier Circle SemiBoldItalic";
    src: url("./fonts/BasierCircle-SemiBoldItalic.ttf") format("truetype");
}

@mixin font-mono {
    font-family: "monospace", monospace;
}

@mixin font-medium {
    font-family: "Basier Circle Medium", sans-serif;
} 

@mixin font-bold {
    font-family: "Basier Circle Bold", sans-serif;
} 

@mixin font-semibold {
    font-family: "Basier Circle SemiBold", sans-serif;
} 

@mixin font-semibolditalic {
    font-family: "Basier Circle SemiBoldItalic", sans-serif;
} 

$background-color: #111111;
$heading-color: #fff;
$faint-color: rgba(255, 255, 255, 0.466);
$font-color: rgba(255, 255, 255, 0.712);
$link-color: rgba(255, 255, 255, 0.918);
$highlight-color: #EF734C;
$danger-color: #df3d3d;

body {
    font-family: "Basier Circle Regular", sans-serif;
    font-size: 16px;

    margin: 0;

    background-color: $background-color;
    color: $font-color;
}

.app {
    display:flex; 
    flex-direction:column; 
    min-height: 100vh;
}

.content-container {
    width: clamp(45ch, 70%, 90ch);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    @media screen and (max-width: 765px) {
        grid-template-columns: 1fr;
    }
}

.content-full-width {
    grid-column: 1 / 3;

    @media screen and (max-width: 765px) {
        grid-column: 1 / 3;
    }
}

.hero-section {
    background-image: url("./images/lowpoly_mountain.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    box-shadow: -1px -33px 43px 0px rgba(17,17,17,0.75) inset;
    -webkit-box-shadow: -1px -33px 43px 0px rgba(17,17,17,0.75) inset;
    -moz-box-shadow: -1px -33px 43px 0px rgba(17,17,17,0.75) inset;

    width: 100vw;
    height: 500px;

    margin-bottom: 3em;
}

.hero-container {
    width: clamp(45ch, 70%, 85ch);
    margin: 0 auto;

    height: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer {
    height: 10em;
    padding: 3em 0;

    width: clamp(45ch, 70%, 90ch);
    margin: auto auto 0 auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    hr {
        width: 100%;
    }
}

.footer-text {
    color: $faint-color;
    width: auto;

    a {
        color: inherit;
    }
}

.text-right {
    text-align: right;
}

.subnav-container {
    width: clamp(45ch, 50%, 85ch);
    margin: 2em auto;

    min-height: 10em;
    border: solid #fff 1px;

    display: flex;
    align-items: center;
}

.subnav-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    color: $heading-color;
    padding-left: 0;

    a {
        margin: 1em 0 1em 0;

        li {
            display: inline;
            padding: 5px 10px;
            border-radius: 5px;

            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            -moz-transition: 0.2s;
            -webkit-transition: 0.2s;
            transition: 0.2s;
        }

        :hover {
            background-color: rgba(255,255,255,0.1);
        }
    }
}

.topnav-container {
    width: clamp(45ch, 70%, 85ch);
    margin: 0 auto;

    height: 10em;
}

.topnav-logo-container {
    display: flex;
    justify-content: center;
}

.topnav-logo {
    width: 300px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    img {
        width: 50px;
        height: 50px;
    }

    p, p:hover {
        @include font-semibold();
        color: $heading-color;
        font-size: 1.2em;

        .highlight {
            color: $highlight-color;
        }
    }
}

.topnav-links {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    width: 100%;
    color: $heading-color;
    flex-wrap: wrap;

    li {
        display: inline;
        padding: 5px 10px;
        border: solid #fff 1px;

        -o-transition: 0.2s;
        -ms-transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }

    li:hover {
            border-color: $highlight-color;
        }

    a {
        margin-bottom: 20px;
    }
}

.exec-profile-left {
    margin: 2em 0;

    img {
        max-width: 100%;
    }
}

.tape-content {
    p {
        img {
            width: 75%;
            display: block;
            margin: 0 auto;
        }
    }
}

.mono {
    @include font-mono();
}

.highlight {
    color: $highlight-color;
}

.expired {
    color: $danger-color;
}

.text-center {
    text-align: center;
}

.vertical-center-self {
    align-self: center;
}

.box-wrapper {
    padding: 20px;
    border: 1px solid #fff;
}

.media-container {
    padding: 0 10px;

    img {
        border-radius: 5px;
        width: 100%;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 5px;
    }
}

.landing-image {
    @media screen and (max-width: 765px) {
        grid-column: 1/3;
    }
}

.landing-image-full {
    width: 80%;
    grid-column: 1/3;
    margin: 0 auto;
}

h1 {
    @include font-semibold();
    color: $heading-color;
}

h2 {
    @include font-semibolditalic();
    font-size: 1.25em;
    color: $heading-color;
}

a {
    color: $link-color;
    text-decoration: none;

    :visited, :hover, :active {
        color: inherit;
    }
}

#landing-nav-container {
    z-index: 999;
    width: clamp(390px, 100%, 75ch);

    margin: 20px auto 0 auto;

    position: fixed;
    right: 0;

    left: -10ch;
    @media screen and (max-width: 765px) {
        left: 0;
        position: absolute;
        margin: 0;
    }
}

#landing-nav {
    width: 390px;
    background-color: rgba(29,29,29,.9);
    border-radius: 100px;
    padding: 5px 9px 5px 9px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;

    @media screen and (max-width: 765px) {
        width: 100vw;
        border-radius: 5px;
        position: absolute;
    }
}

#landing-nav-logo {
    align-self: center;

    img {
        display: block;
        width: 50px;
        height: 50px;
    }
}

#landing-nav-items {
    width: 100%;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto auto auto;

    text-align: center;
    list-style: none;
    padding: 0 10px 0 0;
    margin-top: 5px;
    margin-bottom: 5px;

    li {
        padding: 10px 5px 10px 5px;
    }
}

#landing-nav-login {
    background: rgba(255,255,255,.05);
    border-radius: 100px;

    a {
        text-decoration: none;
        color: $font-color;
    }
}

/*---------
Utility classes
---------*/

.tall {
    height: 1500px;
}

/*---------
Modals
----------*/
.modal {
    position: absolute;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    margin-left: -40vw;
    margin-top: -40vh;
    background-color: $background-color;
    color: $font-color;
    border: '2px solid #000';
}

.modal-header {
    width: 100%;
    background-color: $background-color
}

.modal-text {
    width: 100%;
    padding: 1em 1em 1em 1em;
}

.accept-terms-field-container {

}

/*----------
Forms
----------*/

.btn {
    margin: 1em 1em;
}

.stripe-form-group {
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
        inset 0 1px 0 #829fff;
    border-radius: 4px;
    width: 60%;
    @media screen and (max-width: 765px) {
        width: 100%;
    }
}

.stripe-form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
}

.StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
}

/*
Google date picker style override
*/
.MuiInputBase-input {
    color: white !important;
}

/*
Blog styles
*/

.blog-posts {
    list-style: none;
    padding-left: 0;

    li {
        margin: 1.2em 0 1.2em 0;

        a span:hover {
            color: $highlight-color;
        }
    }
}

.blog-featured-container {
    a {
        &:hover {
            color: $font-color;
        }
        
        display: flex;
        flex-direction: row;
        img {
            width: clamp(45ch, 60%, 80ch)
        }

        .blog-featured-text {
            display: flex;
            flex-direction: column;
            justify-items: center;
            
            .blog-featured-title {
                font-size: 2em;
                margin: 0.5em 0;
                color: $highlight-color;

                &:hover {
                    color: $highlight-color;
                }
            }
        
            .blog-featured-byline {
                color: $font-color;
                font-weight: 700;
            }
        }
    
    }
}

.blog-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    h1 {
        margin: 0.2em 0;
    }

    img {
        width: 80%;
        align-self: center;
        margin: 0.8em 0 0 0;
    }
}

.blog-post-byline {
    display: flex;
    flex-direction: row;
    
    svg {
        margin: 0 0.5em;
    }
}

.blog-content {
    iframe {
        width: 80%;
        aspect-ratio: 16 / 9;
        margin: 2em 0 2em 0;
    }

    hr {
        margin: 10px 0 10px 0;
    }

    img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
}
