.btn-lovely {
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    margin: 1em 1em 1em 1em;
    padding: 9px 22px 9px 22px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--colour-background);
    border-radius: 16px;

    &:before {
        box-shadow: inset 0 0 0 1px #E1E6F9;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 12px;
        background: #EDE3E4;
        box-shadow: 0 4px 8px none;
    }
    &:hover {
        background: #404660;
        color: #F6F8FF;
        box-shadow: 0 4px 8px #{rgba(#00093D, .24)};
    }
}