*, *:before, *:after {
  box-sizing: border-box; 
}

:root {
  // Distances
  --sidebar-width: 250px;
  --border-width: 0.75rem;
  --dots-gap: 10px;

  // Colours
  --colour-background: #0E1428;
  --colour-highlight: #F18805;
  --colour-primary: #D95D39;
  --colour-text: #EDE3E4;
}

.bg {
  min-height: 100vh;
  padding-top: var(--border-width);
}

.bg:after {
  content: "";
  border-top: var(--border-width) solid var(--colour-highlight);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  pointer-events: none;
}

.App {
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-color: var(--colour-background);
}

/*
Navigation sidebar
*/
.side-nav {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  top: 0;
  
  padding-left: 1em;
  padding-top: 2em;
  padding-right: 1em;
  
  background: var(--colour-background);
}

.dots:before,
.dots:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--sidebar-width);
  height: 100vh;
  opacity: .5;
  z-index: 11;
  background-image: linear-gradient(var(--colour-text) 20%,transparent 0);
  background-size: 100% var(--dots-gap);
  background-position: 0 0;
  animation: movebg .2s linear infinite;
  width: 2px;
}

@keyframes movebg {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, var(--dots-gap), 0);
  }
}

.brand-container {
  width: 100%;
  height: 70px;
}

.brand-image {
  width: 100%;
  height: 100%;
}

/*
Page content wrapping children
*/
.page-content {
  /* Set margin-left to make way for sidebar */
  margin-left: calc(var(--sidebar-width) + 2em);
  
  padding-top: 1rem;
  padding-right: 1rem;
  color: var(--colour-text); // Body content font folour

  p, h1, h2, h3, h4, li {
    font-family: 'Trocchi', serif;
  }

  h1, h2 {
    color: var(--colour-primary);
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.head-divider {
  width: 100%;
  height: 1px;
  background-color: var(--colour-text);
}

.modal {
  position: absolute;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  margin-left: -40vw;
  margin-top: -40vh;
  background-color: white;
  color: black;
  border: '2px solid #000';
}

.modal-header {
  width: 100%;
  background-color: rgb(197, 195, 195);
}

.modal-text {
  width: 100%;
  padding: 1em 1em 1em 1em;
}