/*---
Mixins
---*/

@mixin for-mobile-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
/*---
Primary CSS
---*/

*, *:before, *:after {
  box-sizing: border-box; 
}

:root {
  // Distances
  --sidebar-width: 250px;
  --border-width: 0.75rem;
  --dots-gap: 10px;

  // Colours
  --colour-background: #0E1428;
  --colour-highlight: #F18805;
  --colour-primary: #D95D39;
  --colour-text: #EDE3E4;
}

.bg {
  min-height: 100vh;
  padding-top: var(--border-width);
}

.bg:after {
  content: "";
  border-top: var(--border-width) solid var(--colour-highlight);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
}

.App {
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-color: var(--colour-background);
}

/*
Navigation sidebar
*/
.side-nav {
  z-index: 998;
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  top: 0;
  
  padding-left: 1em;
  padding-top: 2em;
  padding-right: 1em;
  
  background: var(--colour-background);

  @include for-mobile-only() {
    &.side-nav-closed {
      display: none;
    }

    &.side-nav-open {
      display: fixed;
      width: 100vw;
    }
  }
}

.dots:before,
.dots:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--sidebar-width);
  height: 100vh;
  opacity: .5;
  z-index: 11;
  background-image: linear-gradient(var(--colour-text) 20%,transparent 0);
  background-size: 100% var(--dots-gap);
  background-position: 0 0;
  animation: movebg .2s linear infinite;
  width: 2px;

  @include for-mobile-only() {
    display: none;
  }
}

@keyframes movebg {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, var(--dots-gap), 0);
  }
}

.brand-container {
  width: 100%;
  height: 70px;
}

.brand-image {
  width: 100%;
  height: 100%;

  @include for-mobile-only() {
    width: 229px;
  }
}

/*
Page content wrapping children
*/
.page-content {
  /* Set margin-left to make way for sidebar */
  margin-left: calc(var(--sidebar-width));
  
  padding-top: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
  color: var(--colour-text); // Body content font folour

  @include for-mobile-only() {
    margin-left: 0;
    padding-left: 1rem;
    padding-top: 3rem;
  }

  p, h1, h2, h3, h4, li {
    font-family: 'Trocchi', serif;
  }

  h1, h2 {
    color: var(--colour-primary);
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.head-divider {
  width: 100%;
  height: 1px;
  background-color: var(--colour-text);
}

.modal {
  position: absolute;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  margin-left: -40vw;
  margin-top: -40vh;
  background-color: white;
  color: black;
  border: '2px solid #000';
}

.modal-header {
  width: 100%;
  background-color: rgb(197, 195, 195);
}

.modal-text {
  width: 100%;
  padding: 1em 1em 1em 1em;
}

/*
Form styles
*/

.form-container {
  width: 70%;
}

label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.label-inline {
  display: inline;
}

.accept-terms-field-container {
  margin: 1.5em 0 1.5em 1em;
}

.text-field-short {
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 17px;
	padding: 0 50px 0 20px;
	height: 50px;
  border: 1px solid #333;

  &:focus {
    border-color: var(--colour-highlight);
  }
}

.text-field-long {

}

.dropdown {

}

.MuiInputBase-root {
  color: var(--colour-text) !important;
  border: 1px solid var(--colour-text);
  width: 100% !important;
  padding-left: 1em !important;
}

.form-button-container {
  margin-top: 1em;
  width: 100%;
}

.form-button {
	border: 1px solid #333;
	border-radius: 0;
	background-color: var(--colour-text);
	color: var(--colour-background);
	font-size: 17px;
  padding: 12px 20px;
  width: 80%;
	&:hover {
    background-color: var(--colour-highlight);
    cursor: pointer;
	}
}

/*---
Stripe styling
---*/

.stripe-form-group {
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
  max-width: 50vw;
}

.stripe-form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

/*----------
Image gallery styling
----------*/

.image-gallery {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

.image-gallery-image {
  width: 100% !important;
  height: auto !important;
}

/*----------
Hamburger menu
----------*/

.hamburger-container {
  @include for-tablet-portrait-up() {
    display: none;
  }

  position: fixed;
  width: 3.5em;
  height: 3em;
  left: -10px;
  top: 2em;
  text-align: right;
  border-radius: 10px;
  padding-right: 0.7em;
  padding-top: 0.5em;
  background-color: var(--colour-text);

  .hamburger {
    color: black;
    font-size: 2em;
  }

  &.side-nav-open {
    display: none;
  }
}
